.link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.myInfo {
  display: flex;
  align-items: center;
}
.myInfo:visited{
  color:black;
}
