.MuiButton-root.MuiButton-containedNeutral,
.MuiButton-root.MuiButton-outlinedNeutral,
.MuiButton-root.MuiButton-textNeutral {
  color: #212121;
}

.MuiButton-root.MuiButton-outlinedNeutral {
  border: 1px solid var(--grey400);

  &:hover {
    border: 1px solid var(--grey600);
  }
}

.MuiButton-root.MuiButton-textNeutral:hover {
  background-color: rgba(238, 238, 238, .8);
}
